body{
	background-color: rgba(244, 244, 244, 0.7);
}
section{
	background-color: #df3343;
	text-align: center;
	padding: 20px;
	margin-top: 30px;
	margin-bottom: 30px;
}
#header{
	color: white;
	font-size: 25px;
}
#subtitulo{
	font-family: sans-serif;
}
#titulo{
	height: 50px;
}
h4{
	color: grey;
	font-weight: initial;
}
td{
	background-color: white;
	border-radius: 15px;
	padding: 15px;
	padding-left: 30px;
	padding-right: 30px;
	width: 300px;
}
table{
	margin: auto;
}
li{
	list-style-type: circle;
	text-align: left;
	line-height: 20px;
	font-size: 20px;
	margin-left: 50px;
}
footer{
	text-align: right;
}
img{
	height: 30px;
}
.titulo2{
	height: 50px;
}
button{
	background-color: #df3343;
	color: white;
	border: 0;
	border-radius: 5px;
	padding: 15px;
	font-size: 20px;
	font-family: serif;
	padding-left: 40px;
	padding-right: 40px;
	margin-top:8px;
}